.confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e76c1f;
  display: none;
}

.close-confirmation {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #fdeadc;
  text-align: center;
  margin-bottom: 1rem;
  font-family: var(--font-palanquin-dark);
  font-weight: 400;
  font-size: 1rem;
}

.confirmation img {
  width: 5rem;
  padding: 1rem;
}

.confirmation h2 {
  color: #fdeadc;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.confirmation h3 {
  color: #fdeadc;
  text-align: center;
  font-size: 1rem;
  line-height: 1.6rem;
}

.basket {
  position: fixed;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  z-index: 3;
  background-color: #363534;
  width: 15rem;
  height: 34rem;
  border-radius: 1rem 0 0 1rem;
  padding: 2rem 4rem 2rem 2rem;
  display: none;

  @media (max-width: 859px) {
    width: 101%;
    height: 101%;
    z-index: 3;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 0;
    display: none;
  }
}

.close-basket {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #fdeadc;
  text-align: center;
  margin-bottom: 1rem;
  font-family: var(--font-palanquin-dark);
  font-weight: 400;
  font-size: 1rem;

  @media (min-width: 860px) {
    display: none;
  }
}

.basket h2 {
  color: #fdeadc;
  text-align: center;
  margin-bottom: 1rem;
}

.basket p {
  font-family: var(--font-palanquin-dark);
  font-weight: 400;
  font-size: 1rem;
}

.basket-scroll-wrapper {
  max-height: 18rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #fdeadc #363534;
}

.basket-product-card {
  display: flex;
  flex-direction: column;
  background-color: #fdeadc;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 0.5rem;
}

.quantity-and-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.quantity img {
  height: 0.75rem;
  margin-top: 0.45rem;
  padding-right: 0.1rem;
}

.basket-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-palanquin);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  color: white;
  margin-right: 1rem;
  margin-top: 1.5rem;
}

.summary-row {
  display: flex;
  width: 13rem;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.summary-line {
  border-top: 2px solid #fff;
  margin: 1rem 0;
}

.summary-total {
  font-weight: bold;
}

.buy-button {
  width: 80%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 999px;
  background-color: #e8711f;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
