@font-face {
  font-family: "PalanquinDark";
  src: url("/fonts/PalanquinDark-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "PalanquinDark";
  src: url("/fonts/PalanquinDark-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "PalanquinDark";
  src: url("/fonts/PalanquinDark-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Palanquin";
  src: url("/fonts/Palanquin-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Palanquin";
  src: url("/fonts/Palanquin-Regular.ttf");
  font-weight: 400;
}

:root {
  --font-palanquin-dark: "PalanquinDark", sans-serif;
}

:root {
  --font-palanquin: "Palanquin", sans-serif;
}
