h1 {
  font-family: var(--font-palanquin-dark);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: center;
  margin: 0;
  color: #363534;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-family: var(--font-palanquin-dark);
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-family: var(--font-palanquin);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0;
}

h4 {
  font-family: var(--font-palanquin);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 0;
  color: #363534;
}

p {
  font-family: var(--font-palanquin);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0;
  margin-top: 0.25rem;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  padding: 2rem 4rem;
  background-color: #e76c1f;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 859px) {
    justify-content: center;
  }
}

.header-logo img {
  max-height: 3rem;
}

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 859px) {
    display: none;
  }
}

.burger-menu img {
  max-height: 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  @media (min-width: 860px) {
    margin-top: 0;
  }
}

.hero-image img {
  aspect-ratio: 1 / 1;
  width: 93%;
  object-fit: cover;
  border-radius: 1rem;

  @media (min-width: 860px) {
    width: 100%;
    border-radius: 0;
    aspect-ratio: 4 / 1;
  }
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4.5rem;
}

.profile-picture img {
  width: 7.5rem;
  height: 7.5rem;
  border: solid #fdeadc 0.5rem;
  border-radius: 13rem;
  box-shadow: 0.05rem 0.05rem 1rem rgba(0, 0, 0, 0.332);
}

.hero h1 {
  display: flex;
  flex-direction: row;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #facaac;
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.rating img {
  height: 1rem;
  padding-right: 0.2rem;
}

.hero h4 {
  padding-inline: 1rem;
}

.hero p {
  margin: 0;
}

.category-section {
  margin-top: 0.75rem;
  padding-block: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 860px) {
  }
}

.category-section h2 {
  color: white;
  background-color: #e76c1f;
  text-align: center;
  width: 100%;
}

.category-section > img {
  width: 3.75rem;
  margin-bottom: -1rem;
  z-index: 1;
}

.meal-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
}

.meal-card {
  width: 80%;
  margin-top: 2rem;
  margin-inline: 1rem;
  background-color: #fdeadc;
  padding: 1rem;
  border-radius: 1rem;

  @media (min-width: 860px) {
    display: flex;
    justify-content: start;
    width: 50%;
  }
}

.meal-card img {
  width: 12rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 1rem;
  flex-shrink: 0;

  @media (min-width: 860px) {
    width: 8rem;
    height: 8rem;
  }
}

.meal-text {
  padding-inline: 0;
  flex: 1;
  min-width: 0;

  @media (min-width: 860px) {
    padding-inline: 1rem;
  }
}

.price-and-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;

  @media (min-width: 860px) {
    flex-direction: column;
    align-items: end;

    align-items: end;
    margin-top: 0;
    margin-left: 1rem;
  }
}

.price-and-add button {
  border-width: 0;
}

.add-to-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 2rem;
  width: 8rem;
  border-radius: 1rem;
}

.add-to-basket p {
  margin-top: -0.2rem;

  &:active {
    transform: translateY(0.1rem);
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e76c1f;
  padding: 2rem;
  gap: 0.75rem;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: var(--font-palanquin);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: underline;
  }
}

footer img {
  height: 1.25rem;
  padding-inline: 0.25rem;
}

nav {
  position: sticky;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #363534;
  height: 4.75rem;

  @media (min-width: 860px) {
    display: none;
  }
}

nav a {
  cursor: pointer;
}
